@import 'info';
@import 'config/colors';
@import 'config/type';

body {
  background: #fff;
  font-family: $serif;
}

h1, h2, h3, h4, h5, h6,
.widget-title {
  font-family: $sans;
}

a,
a:visited,
.entry-footer a {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

abbr {
  color: $lightgrey;
  font-family: $sans;
  font-size: .7em;
  font-size: .7rem;
  font-weight: 600;
  vertical-align: top;
}

.more-link {
  border-color: $primary;
}

button,
.button,
a.button,
a.button:visited,
input[type='submit'] {
  background: $primary;
  border: 3px solid white;
  color: white;
  font-family: $sans;

  &:hover {
    background: darken($primary, 10%);
    color: $darkgrey;
  }
}

a.fl-button,
.fl-builder-content a.fl-button {

  &,
  &:visited{
    background-color: $primary;
    border: 3px solid white;
    color: white;
    font-family: $sans;
    border-radius: 0;
  }

  &:hover{
    background-color: darken($primary,10%);
  }
}
a.fl-button *,
a.fl-button:visited *,
.fl-builder-content a.fl-button *,
.fl-builder-content a.fl-button:visited * {
  color: white;
  border-radius: 0;
}

.site-logo {
  max-height: 60px;

  img {
    width: auto;
  }
}

.site-title{
  margin-bottom: 0;

  a {
    color: #fff;
    line-height: .8;
    font-weight: 800;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
    transition: 200ms opacity linear;

    &:hover{
      color: #fff;
      opacity: .9;
    }
  }
}

.site-description {
  color: #fff;
  color: rgba(#fff,.8);
  font-size: 1.1em;
  font-weight: 500;
  font-family: $sans;
}

.main-navigation-container {
  background: transparent;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  letter-spacing: -.02em;
}

h1{
  font-size: 2.4em;
}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 1.2em;
}

h4{
  font-size: 1.1em;
  margin-bottom: 1em;
  font-weight: bold;
}

h5{
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: bold;
}

h6{
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

.main-navigation {
  background: #fff;
  background: linear-gradient( to bottom, rgba(#fff,.8), #fff );
  border-bottom: 1px solid $lightgrey;

  li {

    a {
      color: $darkgrey;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $sans;
      font-size: 14px;
      padding: 20px 10px;
    }

    &:hover,
    &.current-menu-item {

      > a {
        background-color: transparent;
        color: $primary;
      }
    }
  }

  li.menu-item-has-children:hover > ul {
    background: rgba(#fff,.95);
    border: 1px solid $lightgrey;
    border-top-width: 0;

    a {
      padding-top: .75em;
      padding-top: .75rem;
      padding-bottom: .75em;
      padding-bottom: .75rem;
    }
  }
}

.menu-toggle div {
  background: $darkgrey;
}

.header-widget-area {

  .widget {
    background: rgba(#fff,.6);
  }

  .widget-title {
    color: $grey;
    background: rgba(#fff,.6);
  }
}

.widget {
  background: rgba(#999,.1);
  padding: 0 0 1.5em 0;
  padding: 0 0 1.5rem 0;
  border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;

  header & {
    background-color: transparent;

    a {
      color: #fff;
    }
  }

  ul, li {
    border-color: rgba(#333,.1);
  }
}

.widget_search {
  background: #587A90;

  form {
    padding: 4px;
  }

  .search-field {
    background: #fff;
    border-radius: 2px;
    padding: 1.5em 1.5em;
    padding: 1.5rem 1.5rem;
    overflow: hidden;
    color: #333;

    &:focus {
      background: #fff;
    }
  }
}

.widget-title {
  background: #587A90;
  padding: 1em 1.5em;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5em;
  margin-bottom: 1.5rem;
  color: #fff;

  & ~ *,
  & ~ ul {
    padding: 0 1.5em;
    padding: 0 1.5rem;
  }
}

.widget_nav_menu {
  .widget-title {
    margin-bottom: 0;
  }

  > div {
    padding: 1em 1.5em 0;
    padding: 1rem 1.5rem 0;
  }

  ul {
    ul {
      padding-left: 1em;
      border-color: rgba(#333,.1);
    }
  }
}


.widget_calendar {
  padding-bottom: 0;
  font-family: $sans;

  #calendar_wrap #wp-calendar {
    caption {
      background: #587A90;
      padding: 1em 1.5em;
      padding: 1rem 1.5rem;
      margin-bottom: 0;
      color: #fff;
      font-size: 1em;
      font-size: 1rem;
      line-height: 1.4;
    }

    thead {
      th {
        background: transparent;
        padding: 1em;
      }
    }

    td {
      background: transparent;

      &.today {

        a {
        }
      }
    }

    tfoot {
      background: transparent;
    }
  }
}

.ctc-giving-widget {
  padding-bottom: 1.5em;
  padding-bottom: 1.5rem;

  p {
    margin-bottom: 1em;
    margin-bottom: 1rem;
  }
}

.hentry {
  padding: 0 1em;
  padding: 0 1rem;
}

.site-footer {
  background: $lightgrey;


  .footer-widget-area .footer-widget .widget {
    background: #fff;
    color: $grey;

    .widget-title {
      background: $primary;
      background: #587A90;
      border-color: #587A90;
      padding-bottom: 1em;
      padding-bottom: 1rem;
      border: 0;
    }

    a {
      color: $primary;
    }

    > ul {
      margin-top: -.5em;
      margin-top: -.5rem;
    }

    li {
      border-color: $lightgrey;
    }
  }
}

.site-info-text {
  font-size: 14px;
  font-family: $sans;
  color: $grey;
}


#header-top-bar{
  background-color: $darkgrey;
  color: white;
  font-family: $sans;
  font-size: .8em;
  font-weight: 700;
  text-align: center;

  @media #{$large-up} {

    div:first-child{
      float: left;
    }

    div:last-child{
      float: right;
    }

  }
}

.single-fl-builder-template {

  .type-fl-builder-template{
    padding: 0;
    margin-bottom: 0;
  }

  .page-title{
    display: none;
  }

  #secondary{
    display: none;
  }
}
